@font-face {
    font-family: Digifont;
    src: url("Pixel Digivolve.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    font-family: Digifont, sans-serif;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    color: #E68E39;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/choosen_bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
section h1 {
    text-align: center;
    padding: 40px;
    font-size: 60pt;
}

main {
    position: relative;
    width: 100%;
    min-height: 700px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.digimonLst {
    width: 420px;
    height: 480px;
    border: 2px solid black;
    background: rgba(255,255,255,0.8);
    border-radius: 0.4em;
    cursor: pointer;
    text-align: center;
    padding: 12px;
    margin: 25px;
}
.digimonLst button {
    min-width: 180px;
    border: none;
    border-radius: 0.8em;
    padding: 12px;
    background-color: #E68E39;
    font-size: 14pt;
    margin: 12px;
    cursor: pointer;
}
.digimonLst:hover {
    background: rgba(240,240,240,0.8);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12pt;
    color: whitesmoke;
    text-align: center;
}

footer h4 {
    margin: 25px;
}